.totalscreenLogView{
    justify-content: center;
}
.containerLogIn{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.provider-btn{
    background-color: white;

    img{
        width: 6rem;
        margin-right: 1rem;
    }

}

.auth-fields-and-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;

    input{
        width: 30%;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 800;
        border: none;
        border-radius: 2rem;
        margin-bottom: 1rem;
        background-color: rgb(237, 237, 237);
    }
    button{
        width: 30%;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 800;
        border: none;
        border-radius: 2rem;
        margin-bottom: 1rem;
        background-color: lightblue;
        color: white;
        cursor: pointer;
    }
}