#root {
  max-width: 2560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.subtle-gradient-bg {
  background: 
    radial-gradient(circle at left, rgba(247, 228, 228, 0.9), rgba(245, 245, 245, 0.6) 70%) left/50% no-repeat,
    radial-gradient(circle at right, rgba(255, 255, 255, 0.9), rgba(245, 245, 245, 0.6) 70%) right/50% no-repeat,
    white; /* Fallback color and main background */
}

.StarterBar {
  padding: 1rem;
  z-index: 10;
}

.StarterLinks {
  margin-top: 2rem;
  z-index: 10;
}
